.root {
  height: 545px;
}

@media (max-width: 815px) {
  .root {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid var(--border);
  flex-grow: 1;
  border-radius: 16px;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  margin: 0px 0px;
  padding: 0px 0px 0px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.entry {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 2px solid var(--border);
  padding: 10px 12px;
  color: var(--text);
}

.entry:last-child {
  border: none;
}

.entry:only-child {
  border-bottom: 2px solid var(--border);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0px;
  position: relative;
  color: var(--text);
  justify-self: flex-start;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.admin {
  padding: 2px 6px;
  border-radius: 8px;
  color: white;
  margin: 5px;
  font-size: 0.9rem;
  background: var(--red);
}

.user {
  padding: 4px 4px 2px 4px;
  border-radius: 8px;
  color: white;
  font-size: 0.9rem;
  margin: 5px;
  background: var(--accent);
}

.timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--subtext);
  flex: 1.4;
}

.portrait {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-self: center;
  border: 2px solid var(--border);
  margin: -3px 10px -3px -3px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--subtext);
  font-size: 0.8rem;
  margin-left: 10px;
  font-weight: 300;
}

.count {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}

.nameLink {
  color: var(--text);
  font-weight: 700;
  font-size: 1rem;
  margin: 5px 0px;
  position: relative;
  justify-self: flex-start;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.nameLink > a {
  color: var(--text);
}

.newBadge {
  padding: 2px 6px;
  border-radius: 8px;
  line-height: 0.9rem;
  color: white;
  margin: 5px;
  font-size: 0.9rem;
  background: var(--accent);
}
