.root {
  display: flex;
  flex-direction: column;
  position: relative;
  grid-area: status;
  z-index: 5;
  height: 125px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1;
  font-size: 18px;
  color: white;
  box-shadow: var(--shadow);
  border-radius: 16px;
  background: var(--accent);
  border: 3px solid rgba(0, 0, 0, 0.1);
  transition: background 0.5s;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.container > h3 {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.container > h2 {
  margin: 0;
}

.green {
  background: var(--green);
}

.blue {
  background: var(--accent);
}

.orange {
  background: var(--orange);
}

.red {
  background: var(--red);
}
