.root {
  display: grid;
  position: relative;
  margin: 145px auto 30px auto;
  padding: 0px 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: 670px;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: var(--shadow);
  background: var(--primary-main);
  flex-grow: 1;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
