.root {
  display: grid;
  position: relative;
  margin: 145px auto 30px auto;
  padding: 0px 10px;
  grid-template-columns: 1.2fr 2fr 1.2fr;
  grid-template-rows: 1fr;
  max-width: 1250px;
  gap: 20px;
  grid-template-areas: '. settings .';
}

.settings {
  grid-area: settings;
}

.container {
  margin: 20px;
  border: 2px solid var(--border);
  padding: 20px;
  overflow: hidden;
  border-radius: 16px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.content {
  display: flex;
  flex: 2;
}

.input {
  display: flex;
  justify-content: center !important;
  border-radius: 8px;
  width: 100%;
  padding: 10px 15px;
  color: var(--text);
  outline: none;
  border: 2px solid var(--border);
  background: var(--secondary-main);
}

.save {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.success {
  margin: 15px 0px;
  padding: 15px;
  background: var(--green);
  border-radius: 6px;
  width: 100%;
}

.error {
  margin: 15px 0px;
  padding: 15px;
  background: var(--red);
  border-radius: 6px;
  width: 100%;
}

.dropdown {
  display: flex;
  width: 100%;
  background: var(--secondary-main);
  border: 2px solid var(--border);
  color: var(--text);
  padding: 10px 15px;
  border-radius: 8px;
}

.dropdownList {
  max-height: 50vh;
  overflow-y: scroll;
  background: var(--primary-main);
  border-radius: 8px;
  box-shadow: var(--shadow);
  border: 2px solid var(--border);
  padding: 15px 10px;
}

.dropdownList > div {
  padding: 5px;
  border-radius: 8px;
  border: 2px solid transparent;
}

.dropdownList > div:hover {
  cursor: pointer;
  background: var(--secondary-main);
  border: 2px solid var(--border);
}

.dropdownList > span {
  fill: var(--primary-main);
}
