.root {
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  height: 400px;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0px rgba(30, 30, 70, 0.4);
}

.container {
  margin: 20px;
  border: 2px solid var(--border);
  height: 100%;
  border-radius: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px -5px;
  padding: 0 15px;
  overflow-x: none;
  overflow-y: auto;
  overflow-y: overlay;
  text-align: center;
  flex: 1;
}

.wrapper > span {
  font-size: 0.9rem;
}

.portrait {
  position: relative;
  margin: 10px 0px;
  width: 75px;
  height: 75px;
  align-self: center;
  border-radius: 50%;
  border: 2px solid var(--border);
}

.input {
  display: flex;
  border: none;
  outline: none;
  border: 2px solid var(--border);
  border-radius: 16px;
  width: 85%;
  font-size: 1rem;
  text-align: center;
  color: var(--text);
  align-self: center;
  padding: 5px 5px;
  margin: 10px 0px;
}

.input::placeholder {
  color: var(--subtext);
  font: 'dinn' !important;
}
