.root {
  background: var(--primary-main);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  border-radius: 16px;
  box-shadow: var(--shadow);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
  overflow: hidden;
  padding: 10px;
  border: 2px solid var(--border);
  justify-content: center;
  border-radius: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  text-align: center;
  flex: 1;
  margin-bottom: 10px;
}

.header > span {
  font-size: 0.9rem;
  color: var(--subtext);
}

.emojiPicker {
  position: absolute;
}

.portrait {
  position: relative;
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  display: flex;
  align-self: center;
  font-size: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--border);
}

.input {
  display: flex;
  border: none;
  outline: none;
  background: var(--primary-main);
  border: 2px solid var(--border);
  border-radius: 16px;
  width: 85%;
  font-size: 1rem;
  text-align: center;
  color: var(--text);
  align-self: center;
  padding: 5px;
}

.input::placeholder {
  color: var(--subtext);
  font: 'dinn' !important;
}

.emojis {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  flex-wrap: wrap;
  max-height: 175px;
  justify-content: center;
  align-items: center;
}

.emoji {
  display: flex;
  justify-content: center;  
  align-items: center;
  outline: none;
  border: 2px solid transparent;
  border-radius: 50%;
  background: var(--secondary-main);
  padding: 0px;
  width: 34px;
  height: 34px;
  font-size: 20px;
  margin: 3px;
  cursor: pointer;
}

.emoji:hover {
  border-color: var(--accent);
  transition-duration: 0.15s;
}

.row {
  display: flex;
  justify-content: center;
}

.selected {
  border-color: var(--accent);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}
