.root {
  height: 575px;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  padding-left: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 5px 0px 0px;
  margin: 20px 5px 20px 20px;
}

.post {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  background: var(--primary-main);
  border: 2px solid var(--border);
  border-radius: 16px;
  padding: 12px 12px 12px 12px;
  margin-bottom: 15px;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.headerContent > h3 {
  color: var(--subtext);
  margin: 0;
  margin-top: 10px;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.headerContent > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: var(--text);
  margin: 10px 0px;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
}

.headerContent > span {
  color: var(--subtext);
}

.headerContent > span > a {
  color: var(--subtext);
}

.title {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0px;
  color: var(--text);
  text-decoration: underline;
  cursor: pointer;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.comment {
  color: var(--subtext);
  font-size: 1rem;
  font-weight: 300;
}

.empty {
  text-align: center;
}

.updatedAt {
  margin-bottom: 10px;
}

.portrait {
  position: relative;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--border);
  margin: -3px 10px -3px -3px;
  overflow: hidden;
}

.loader {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
}

.admin {
  padding: 2px 6px;
  border-radius: 8px;
  color: white;
  margin: 5px;
  font-size: 0.9rem;
  background: var(--red);
}
