.root {
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  grid-area: posts;
  border-radius: 16px;
  height: 600px;
  box-shadow: 0 5px 20px 0px rgba(30, 30, 70, 0.4);
}

.container {
  margin: 0px 20px 20px 20px;
  border: 2px solid var(--border);
  height: 100%;
  border-radius: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px -5px;
  padding: 0px 10px;
  height: 479px;
  overflow-x: none;
  overflow-y: auto;
  overflow-y: overlay;
}

.post {
  display: flex;
  flex-direction: row;
  position: relative;
  align-content: center;
  justify-content: center;
  border-bottom: 2px solid #e5e5e5;
  padding: 12px 12px 12px 12px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content > span {
  color: var(--subtext);
  font-size: 16px;
}

.content > h3 {
  color: var(--subtext);
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
}

.content > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  color: var(--text);
  text-decoration: none;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.portrait {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  align-self: center;
  border: 2px solid #e5e5e5;
  margin: -3px 10px -3px -3px;
}
