@font-face {
  font-family: "Museo Sans Rounded";
  src: url("/src/fonts/museosansrounded-300-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Rounded";
  src: url("/src/fonts/museosansrounded-500-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Rounded";
  src: url("/src/fonts/museosansrounded-700-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Segoe";
  src: url("/src/fonts/segoeui.otf") format("woff");
  font-weight: 700;
  font-style: bold;
}
