.root {
  display: grid;
  position: relative;
  margin: 145px auto 30px auto;
  padding: 0px 10px;
  z-index: 100;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  max-width: 700px;
  gap: 30px;
  grid-template-areas:
    'create'
    'main';
}

.create {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  grid-area: create;
}

.admin {
  padding: 2px 2px 0px 4px;
  border-radius: 8px;
  color: white;
  margin: 5px;
  font-size: 0.9rem;
  background: var(--red);
}

.feed {
  display: flex;
  flex-direction: column;
  grid-area: main;
  border-radius: 16px;
  box-shadow: var(--shadow);
  background-color: white;
  flex-grow: 1;
}

.feedContainer {
  margin: 20px;
  border: 2px solid var(--border);
  height: 100%;
  border-radius: 16px;
}

.feedWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px -5px;
  padding: 0px 10px;
  overflow-x: none;
  overflow-y: auto;
}

.feedItem {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  border-bottom: 2px solid #e5e5e5;
  padding: 12px 12px 12px 24px;
}

.portrait {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-self: center;
  border: 2px solid var(--border);
  margin: -3px 10px -3px -3px;
}

.title {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 5px;
  color: var(--text);
  text-decoration: underline;
  cursor: pointer;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.feedContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  margin-left: 15px;
}

.feedContent > span {
  color: var(--subtext);
  margin-bottom: 15px;
  font-size: 1rem;
}

.comment {
  margin-top: auto;
  cursor: pointer;
  color: var(--subtext);
  text-decoration: underline;
}
