.container {
  position: absolute;
  right: 0;
  height: 100%;
  width: 64px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 50;
}

.menuWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--banner-accent);
  cursor: pointer;
  height: 75px;
  max-width: 250px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.button {
  display: none;
}

.menu {
  position: absolute;
  background-image: url('/static/images/menu.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  display: flex;
  margin-left: auto;
  width: 32px;
  height: 32px;
}

.modal {
  display: flex;
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  z-index: 50;
  padding: 15px;
  background: var(--primary-main);
}

.error {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: var(--secondary-white);
}

.modalList {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 0;
  border-radius: 12px;
  list-style: none;
}

.modalListItem {
  display: flex;
  padding: 10px 12px;
  background-color: var(--primary-main);
  border-radius: 8px;
  border: 2px solid var(--border);
  margin-bottom: 10px;
  color: var(--text);
  cursor: pointer;
}

.modalListItem > a {
  color: var(--text);
  text-decoration: none;
}

.modalListItem > button {
  outline: none;
  background: none;
  border: none;
  text-align: left;
  color: var(--text);
  padding: 0;
  font-size: 16px;
  width: 100%;
}

.modalListItem:last-child {
  margin-bottom: 0px;
}

@media (min-width: 815px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 225px;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'login signup'
      'modal modal';
  }

  .menuWrapper {
    display: none;
  }

  .modal {
    display: flex !important;
    position: relative;
    grid-area: modal;
    padding: 20px;
    width: 100%;
    height: auto;
    z-index: 50;
    box-shadow: var(--shadow);
    border-radius: 0px 0px 12px 12px;
    flex-direction: column;
    background: var(--primary-main);
    transition-duration: 0.2s;
  }

  .form {
    display: inline-block;
  }

  .button {
    display: flex;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    flex-grow: 1;
    max-width: 125px;
    height: 100%;
    padding: 0;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    color: var(--white);
    background: var(--accent);
    transition-duration: 0.2s;
  }
}
