.root {
  display: grid;
  position: relative;
  margin: 145px auto 30px auto;
  padding: 0px 10px;
  z-index: 100;
  grid-template-columns: 1.2fr 2fr 1.2fr;
  grid-template-rows: min-content min-content 1fr;
  max-width: 1250px;
  gap: 30px;
  grid-template-areas:
    'header stats friends'
    'header history friends'
    '. history friends';
}

.headerContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  grid-area: header;
  box-shadow: var(--shadow);
  background-color: white;
  flex-grow: 1;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  grid-area: posts;
  box-shadow: var(--shadow);
  background-color: white;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 100%;
  border: 2px solid var(--border);
  border-radius: 16px;
  padding: 25px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  width: 100%;
  flex-direction: row;
}

.portrait {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid var(--border);
  margin: -3px -3px 10px -3px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 15px;
}

.postsWrapper {
  display: flex;
  padding: 20px;
}

.historyContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  grid-area: history;
  box-shadow: var(--shadow);
  background-color: white;
  flex-grow: 1;
}

.historyWrapper {
  display: flex;
  padding: 20px;
  flex-basis: 200px;
  border: 2px solid var(--border);
  margin: 20px;
  border-radius: 16px;
  padding: 10px;
}

.statsContainer {
  background: white;
  box-shadow: var(--shadow);
  border-radius: 16px;
  grid-area: stats;
  width: 100%;
}

.statsItem {
  display: flex;
  flex-direction: row;
  height: 125px;
  border: 2px solid var(--border);
  border-radius: 16px;
  padding: 20px;
}

.statItemWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-rows: 1fr;
  margin: 20px;
}

.friendsList {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: var(--shadow);
  border-radius: 16px;
  grid-area: stats;
  width: 100%;
  grid-area: friends;
}

.friendsListWrapper {
  display: flex;
  padding: 20px;
  flex: 1;
  border: 2px solid var(--border);
  margin: 20px;
  border-radius: 16px;
  padding: 10px;
}
