.root {
  display: grid;
  position: relative;
  margin: 145px auto 30px auto;
  padding: 0px 10px;
  z-index: 100;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  max-width: 1250px;
  gap: 30px;
  grid-template-areas:
    'header header'
    'stats history';
}

.headerContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  grid-area: header;
  box-shadow: var(--shadow);
  background-color: white;
  flex-grow: 1;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  grid-area: posts;
  box-shadow: var(--shadow);
  background-color: white;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 2px solid var(--border);
  border-radius: 16px;
  padding: 25px;
}

.portrait {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
  border: 2px solid var(--border);
  margin: -3px 10px -3px -3px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
  align-items: flex-start;
}

.postsWrapper {
  display: flex;
  padding: 20px;
  flex-basis: 200px;
}

.historyContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  grid-area: history;
  box-shadow: var(--shadow);
  background-color: white;
  flex-grow: 1;
}

.historyWrapper {
  display: flex;
  padding: 20px;
  flex-basis: 200px;
  border: 2px solid var(--border);
  margin: 20px;
  border-radius: 16px;
  padding: 10px;
}

.statContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  grid-area: stats;
  box-shadow: var(--shadow);
  background-color: white;
}

.statWrapper {
  display: flex;
  flex: 1;
  border: 2px solid var(--border);
  border-radius: 16px;
  margin: 20px;
  padding: 10px;
}
