.root {
  display: flex;
  align-items: center;
  border: 3px solid #5d66ce;
  color: white;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background-color: var(--accent);
  height: 55px;
  padding: 15px 20px 10px 20px;
  border-radius: 16px 16px 3px 3px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 5px 15px -5px rgba(30, 30, 70, 0.3);
}

.root > h1 {
  display: Flex;
  font-weight: 600;
  flex: 1;
  font-size: 1.3rem;
  text-align: center;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin: 0;
}
