.root {
  margin: 20px;
  border: 2px solid var(--border);
  overflow: hidden;
  border-radius: 16px;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: overlay;
  height: 100%;
}
