.root {
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr 400px;
  grid-template-columns: 1.15fr 2fr 1.15fr;
  grid-template-areas:
    'clientlist clientlist clientlist'
    'settings main profile'
    'settings chat profile'
    'kick chat profile'
    'kick chat .';
  grid-gap: 20px;
  padding: 0px 10px;
  max-width: 1250px;
  margin: 0px auto 115px auto;
}

.container {
  margin: 0;
  grid-area: main;
  border-radius: 16px;
  background-color: white;
  box-shadow: var(--shadow);
}

.wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--border);
  justify-content: center;
  border-radius: 16px;
  position: relative;
}

.wrapper > div {
  padding: 10px;
  text-align: center;
  border: 2px solid var(--border);
  border-radius: 16px;
}

.wrapper > span {
  text-align: center;
  padding: 0px;
}

.profileContainer {
  grid-area: profile;
}

.clients {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  border: 2px solid var(--border);
  border-radius: 16px;
}

.kick {
  grid-area: kick;
}

.settingsRoot {
  display: flex;
  flex-direction: column;
  margin: 0;
  grid-area: settings;
  border-radius: 16px;
  height: 350px;
  background-color: white;
  box-shadow: var(--shadow);
}

.client {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-bottom: 2px solid var(--border);
}

.client > span {
  flex: 2;
}

.settingsContainer {
  margin: 20px;
  display: flex;
  flex: 1;
  padding: 20px;
  border: 2px solid var(--border);
  justify-content: center;
  border-radius: 16px;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: center;
}

.linkContainer > div {
  padding: 0px 10px;
}

.difficultyWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.difficultyButton {
  display: flex;
  background: white;
  border-radius: 8px;
  outline: none;
  border: 3px solid var(--border);
  margin: 5px;
  padding: 5px 10px;
  color: var(--text);
  cursor: pointer;
  transition-duration: 0.15s;
}

.selected {
  background: var(--accent);
  border: 3px solid #5d66ce;
  color: white;
}

.difficultyButton:hover {
  transform: translateY(-2px);
}

.difficultyButton:active {
  transform: translateY(2px);
}
