.root {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 5;
  padding-top: 3px;
  overflow: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background: var(--accent);
  box-shadow: 0 5px 5px rgba(30, 30, 70, 0.3);
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  max-width: 1250px;
}

.logo {
  display: Flex;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  list-style: none;
}

.nav > a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0 15px;
}

.nav > a:hover {
  text-decoration: underline;
}

.authContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-self: flex-end;
  margin: 0px 15px 0px 0px;
  padding: 0;
  width: 310px;
  list-style: none;
}

.authContainer > a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0 15px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0 15px;
}

.button:hover {
  text-decoration: underline;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.search {
  display: flex;
  width: 20vw;
  max-width: 300px;
  background: var(--banner-accent);
  outline: none;
  border: none;
  color: white;
  border-radius: 16px;
  padding: 10px 15px;
}

.search::placeholder {
  color: white;
}
