.root {
  display: grid;
  position: relative;
  margin: 145px auto 0px auto;
  padding: 0px 10px 30px 10px;
  grid-template-columns: min-content 650px min-content;
  grid-template-rows: minmax(450px, max-content) 1fr;
  max-width: 1250px;
  gap: 20px;
  grid-template-areas:
    '. main .'
    '. main .';
}

@media only screen and (max-width: 814px) {
  .root {
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    grid-template-areas:
      '.'
      'main'
      'comments'
      '.';
  }
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(400px, max-content) 1fr;
  gap: 20px;
  grid-area: main;
  width: 100%;
  min-height: 300px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: var(--shadow);
  background: var(--primary-main);
  border-radius: 16px;
  flex: 1;
}

.postContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--border);
  border-radius: 16px;
}

.postContainer > p {
  margin: 0px 0px 20px 0px;
}

.nameLink {
  text-decoration: underline;
  cursor: pointer;
  color: var(--text);
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.header > h1 {
  margin: 0;
  font-size: 1.6rem;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.header > span {
  color: var(--subtext);
}

.rating {
  height: 40px;
}

.body {
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 17px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.admin {
  padding: 2px 6px;
  border-radius: 8px;
  color: white;
  margin: 5px;
  font-size: 0.9rem;
  background: var(--red);
}

.comments {
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: var(--shadow);
  background: var(--primary-main);
  width: 100%;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.buttons > div {
  display: flex;
  flex-direction: row;
}
