.root {
  display: flex;
  flex-direction: row;
  grid-area: clientlist;
  position: relative;
  min-height: 106px;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: transparent;
}

.soloRoot {
  margin-top: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0;
  border-radius: 16px;
}

.miniCardWrapper {
  display: flex;
  width: 100%;
  flex: 1;
  position: relative;
  margin: 0;
  padding: 5px;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.card {
  position: relative;
  background-color: white;
  z-index: 100;
  margin-right: 10px;
  border-radius: 16px;
  box-shadow: var(--shadow);
}

.card:last-child {
  margin-right: 0px;
}

.cardWrapper {
  display: grid;
  position: relative;
  grid-template-rows: 1.5fr 1fr;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 5px;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: row;
}

.username {
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 5px rgba(158, 158, 160, 0.3);
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
  overflow: hidden;
  align-self: flex-end;
  border-radius: 12px;
  color: white;
  height: 100%;
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.usernameWrapper {
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 5px rgba(158, 158, 160, 0.3);
  font-weight: 500;
  align-items: center;
  overflow: hidden;
  align-self: flex-end;
  color: white;
  height: 100%;
  width: 100%;
  text-overflow: ellipsis;
  padding: 5px 5px;
}

.usernameWrapper > span {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 16px;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
  flex: 3;
}

.usernameWrapper > span > span {
  font-size: 20px;
  margin-right: 6px;
}

.wpm {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  color: white;
}

.placement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background: var(--accent);
  box-shadow: var(--shadow);
  width: 35px;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  padding: 3px;
}

.statHeader {
  font-size: 12px;
  letter-spacing: 0.8px;
  font-weight: 700;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: var(--subtext);
  font-weight: 700;
  flex: 1;
  font-size: 18px;
  /* padding: 2px; */
  height: 100%;
}
