.root {
  position: absolute;
  height: 100%;
  max-width: 200px;
  right: 0;
  margin: 0px 0px 0px 25px;
  width: 64px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  height: 75px;
  max-width: 250px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--border);
}

.container:hover {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}

.wrapper {
  color: var(--secondary-white);
  height: 100%;
  display: none;
  flex-grow: 1;
  font-size: 16px ;
  padding: 10px 22px 10px 10px;
  max-height: 37px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  margin-right: -20px;
  border-radius: 8px 0px 0px 8px;
  justify-content: center;
  background-color: var(--primary-main);
}

.portrait {
  width: 44px;
  height: 44px;
  border: 1px solid #999;
  border-radius: 50%;
  background-color: var(--primary-main);
}

.modal {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  top: 75px;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  z-index: 1000;
  padding: 15px;
  background: var(--primary-main);
}

.modalList {
  display: flex;
  flex-direction: column;
  background: var(--secondary-main);
  padding: 20px;
  margin: 0;
  border-radius: 12px;
  list-style: none;
}

.modalListItem {
  display: flex;
  padding: 10px;
  background-color: var(--primary-main);
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--text);
  cursor: pointer;
}

@media (min-width: 650px) {
  .root {
    position: relative;
    flex: 1.5;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      'profile profile'
      'modal modal';
  }

  .container {
    flex-grow: 1;
    max-width: 250px;
    grid-area: profile;
    width: auto;
  }

  .wrapper {
    display: flex;
  }

  .modal {
    display: flex;
    padding: 0;
    position: relative;
    grid-area: modal;
    width: 100%;
    z-index: 100;
    height: 100%;
    background: white;
    box-shadow: var(--shadow);
    border-radius: 0px 0px 12px 12px;
    flex-direction: column;
    transition-duration: 0.2s;
  }

  .modalList {
    border-radius: 0 0 12px 12px;
  }
}
