.root {
  display: grid;
  position: relative;
  margin: 145px auto 125px auto;
  padding: 0px 10px;
  max-width: 1250px;
  grid-template-columns: 1fr 640px 1fr;
  grid-template-rows: 1fr;
	grid-template-areas: '. main .';
  gap: 20px;
}

.portrait {
  position: relative;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border: 2px solid var(--border);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 814px) {
  .root {
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr;
  }

  .portrait {
    display: none;
  }
}

.hiscores {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
	grid-area: main;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'main';
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 20px;
  min-height: 450px;
  border: 2px solid var(--border);
  border-radius: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  grid-area: main;
  gap: 5px;
  padding: 10px 0px 10px 10px;
  overflow-y: scroll;
  /* height: 750px; */
}

.nameLink {
  color: var(--text);
  font-weight: 500;
  font-size: 1rem;
}

.entry {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 2px solid var(--border);
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  color: var(--text);
}

.entry:hover {
  background: var(--border);
}

.entry:last-child {
  border: none;
}

.name {
  display: flex;
  position: relative;
  margin: 0 5px;
  flex: 2;
  justify-content: flex-start;
  align-items: center;
}

.content {
  display: flex;
  position: relative;
  flex: 1;
  margin: 0 5px;
  justify-content: flex-end;
  align-items: center;
}

.header {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  position: relative;
  margin: 0 30px;
  /* width: 480px; */
  color: var(--subtext);
  border-bottom: 2px solid var(--border);
  padding: 12px 12px 12px 12px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  color: var(--subtext);
  flex-grow: 1;
}

.headerItem {
  color: var(--subtext);
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--subtext);
  flex: 1.4;
}

.filter {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 20px;
  height: 100px;
}

.filterItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  box-shadow: var(--shadow);
  border-radius: 16px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  color: var(--white);
  transition-duration: 0.1s;
  z-index: 1;
  flex: 1;
}

.filterItem:hover {
  transform: translateY(-2px);
}

.filterItem:active {
  transform: translateY(2px);
}

.filterItem > h3 {
  text-transform: uppercase;
}
