.root {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  position: relative;
  background-color: white;
  border-radius: 16px;
  /* border: 2px solid var(--border); */
  grid-area: gameboard;
}

.root::before {
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  position: absolute;
  border-radius: 16px;
  box-shadow: var(--shadow);
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  align-content: flex-start;
  position: relative;
  padding: 10px;
  margin: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 16px;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-flow: row;
  position: relative;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.header > div {
  width: 30px;
  height: 15px;
  border-radius: 6px;
  margin-left: 10px;
}

.content {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  color: var(--text);
  margin: 0px 20px 20px 20px;
}

.content > h1 {
  display: inline-block;
  font-size: 1.2rem;
  align-items: center;
  margin: 0;
  padding: 0px 0px 5px 0px;
}

.content > h1 > span {
  font-size: 1rem;
  padding: 3px;
  background: var(--accent);
  border-radius: 6px;
  margin-left: 10px;
  color: white;
}

.content > span {
  color: var(--subtext);
}

.content > span > a {
  color: var(--accent);
}

.gamePiece {
  position: absolute;
  width: 0px;
  z-index: 0; 
  height: 190%;
  border-radius: 25%;
}

.gamePiece > span {
  font-size: 12px !important;
  border-radius: 16px;
  opacity: 1;
}

.gamePiece > span > span {
  opacity: 0.8;
}

.word {
  margin: 0;
  padding: 0px 4px 0px 4px;
  font-family: 'dinn' !important;
  font-size: 18px;
  z-index: 10;
  font-kerning: none;
  letter-spacing: 0.025rem;
  color: var(--text);
  line-height: 25px;
  user-select: none;
}

.current {
  z-index: 10;
}

.letter {
  display: inline-block;
  padding-top: 0px;
  font-kerning: none;
  transition-duration: 0.02s;
  text-decoration: underline;
  transition: background-color ease-out;
}

/* .letter:first-child {
  padding-left: 4px;
}

.letter:last-child {
  padding-right: 4px;
}

.letter:only-child {
  padding: 0 4px 4px 4px;
} */
